/* =====================================================
   1. RESET GENERAL
   Elimina márgenes y paddings por defecto del navegador
===================================================== */

*{
margin:0; /*espacio exterior que hay alrededor de un elemento HTML*/
padding:0; /*espacio interno entre el contenido de un elemento y su borde*/
box-sizing:border-box; /* evita que padding rompa el tamaño */
}

/* =====================================================
   2. ESTILOS GENERALES
===================================================== */

body{
font-family:'Inter',sans-serif; /*definir la tipografía*/
color:#333;
background:#f8f8f8;
line-height:1.6; /*define el interlineado*/
}

/* Tipografía de títulos */
h1,h2,h3{
font-family:'Playfair Display',serif;
}

/* =====================================================
   3. HEADER / NAVBAR
===================================================== */

header{ /*encabezado*/
background:#1e1e1e;
color:#fff;
position:sticky; /* se queda fijo arriba */
top:0; /*0 píxeles desde la parte superior*/
z-index:2000; /*posicionar el encabezado en una capa superior (adelante) respecto a otros elementos de la página*/
transition:0.3s;
}

/* efecto cuando se hace scroll */
header.scrolled{
background:rgba(20,20,20,0.95);
backdrop-filter:blur(6px); /*efecto de desenfoque gaussiano (borroso) */
box-shadow:0 4px 20px rgba(0,0,0,0.35); /*sombra suave y difuminada*/
}

/* contenedor de navegación */
.navbar{
display:flex; /*caja flexible (Flexbox), facilitando la alineación, distribución de espacio y orden de elementos dentro de un contenedor*/
justify-content:space-between; /*distribuir los elementos hijos de un contenedor de manera uniforme, alineando el primero al borde inicial y el último al borde final, distribuyendo el espacio libre restante equitativamente entre ellos. */
align-items:center; /*centrar verticalmente los elementos hijos dentro de un contenedor*/
padding:18px 40px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
max-width:1200px; /* límite máximo de ancho*/
margin:auto; /* centrar horizontalmente elementos de bloque*/
}

/* logo */
.logo{
font-size:24px;  /*Tamaño del texto en el logo*/
font-weight:bold; /*Especie de negrita*/
text-decoration:none; /*Elimina lineas decorativas del texto*/
color:white; /*Define el color del exto*/
}

/* botón menú móvil */
.menu-btn{
display:none; /*Se oculta completamente de la págia*/
font-size:30px; /*Se establece el tamaño de la fuente*/
cursor:pointer; /*cambia el puntero del ratón a una mano pequeña*/
color:white; /*Cambia el color del texto a blanco*/
}

/* lista de navegación */
.nav-links{
list-style:none; /*quitar los estilos predeterminados de las listas (viñetas)*/
display:flex; /*caja flexible (Flexbox), facilitando la alineación, distribución de espacio y orden de elementos dentro de un contenedor*/
gap:25px; /*establecer un espacio uniforme de 25 píxeles entre las filas y las columnas*/
}

/* links del menú */
.nav-links a{
text-decoration:none; /*elimina cualquier línea decorativa de un texto, principalmente el subrayado predeterminado de los enlaces*/
color:white; /*Colores de texto*/
font-weight:500; /*qué tan grueso (negrita) se ve el texto*/
letter-spacing:.5px; /*aumenta ligeramente la separación horizontal entre los caracteres (letras) de un texto*/
position:relative; /*posicionar un elemento en relación a su posición original*/
padding-bottom:5px; /*añade un relleno interno de 5 píxeles en la parte inferior*/
transition:color .3s; /* crea una animación suave y gradual al cambiar el color de texto*/
}

/* efecto hover */
.nav-links a:hover{
color:#ffcc44; /*Efecto de hover al texto*/
}

/* línea animada debajo del link */
.nav-links a::after{ /*Efecto para después de pasar el cursor*/
content:""; /*Establezco que no se agregue nada*/
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
left:0; /*posiciona el borde izquierdo de un elemento posicionado*/
bottom:0; /*alinea el borde inferior de un elemento posicionado*/
width:0; /*establece el ancho del área de contenido de un elemento a cero píxeles*/
height:2px; /*establece la altura del contenido*/
background:#d4a437; /*Le doy relleno al cuadro generado*/
transition:width .3s ease; /*animar el cambio del ancho (width) de un elemento de forma suave*/
}

.nav-links a:hover::after{ /*Normalmente la línea (::after) está oculta (width: 0) Cuando haces hover: la línea crece hasta el 100%*/
width:100%;
}

/* =====================================================
   4. HERO / PORTADA
===================================================== */

.hero{ /*imagen principal*/
position:relative; /*posicionar un elemento respecto a su posición original*/
min-height:500px; /*establece que un elemento tendrá una altura mínima de 500 píxeles*/
display:flex; /*alinear y distribuir elementos secundarios dentro de un contenedor de forma automática y adaptable*/
align-items:center; /*centra verticalmente los elementos hijos dentro de un contenedor flexible*/
justify-content:center; /*alinea los elementos hijos de un contenedor Flexbox o Grid en el centro del eje principal*/
text-align:center; /*centra horizontalmente el texto y los elementos en línea (como imágenes o enlaces) dentro de su contenedor padre*/
flex-direction:column; /*Cambia la dirección a vertical, Apila los elementos uno debajo del otro*/
background:url('../img/slide1.png') center/cover no-repeat; /*Posiciona la imagen en el centro, Hace que la imagen cubra todo el contenedor (cover), Evita que la imagen se repita (no-repeat)*/
border-radius:12px; /*Define el radio de las esquinas*/
overflow:hidden; /*oculta cualquier contenido que sobresalga de los límites de su contenedor*/
color:white; /*establece el color del texto de un elemento a blanco*/
padding:60px 20px; /*espacio interno (relleno) a un elemento: 60px arriba y abajo, y 20px a la izquierda y derecha*/
max-width:1200px;/*límite superior para el ancho de un elemento*/
margin:30px auto; /*margen superior e inferior de 30 px y automatico izquierda y derecha*/
}

/* overlay oscuro sobre la imagen */
.hero::before{
content:""; /*Establezco que no se agregue nada*/
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
inset:0; /* propiedad abreviada (shorthand) que establece las propiedades top, right, bottom y left en 0 simultáneamente*/
background:linear-gradient( /*Indica que es un degradado en línea recta*/
90deg, /*Dirección del degradado (izquierda a derecha)*/
rgba(0,0,0,0.75) 0%, /*negro con 75% de opacidad (más oscuro)*/
rgba(0,0,0,0.55) 40%, /*negro más transparente*/
rgba(0,0,0,0.2) 100%  /*muy transparente*/
); /*El % Indican en qué punto del degradado aparece cada color*/
}

/* contenido sobre overlay (capa visual de las letras sore la imagen principal)*/
.hero h1,
.hero p,
.hero .btn{
position:relative; /*posicionar un elemento respecto a su posición original*/
z-index:2; /*posiciona un elemento en una capa superior (adelante) en el eje Z respecto a otros elementos*/
}

/* título principal */
.hero h1{
font-size:clamp(32px,6vw,60px); /*define un tamaño de fuente responsivo y fluido que se ajusta automáticamente al ancho de la pantalla*/
/*En pantallas pequeñas → el texto no baja de 32px
  En pantallas medianas → se adapta con 6vw
  En pantallas grandes → no pasa de 60px*/
letter-spacing:2px; /*aumenta el espacio entre los caracteres*/
text-shadow:0 6px 25px rgba(0,0,0,0.8); /* aplica una sombra difusa y oscura debajo del texto*/
}

/* animación de entrada */
.hero h1,
.hero p,
.hero .btn{
animation:heroFade 1.2s ease; /*Aplica la animación heroFade, dura 1.2 seg y tiene un movimiento suave*/
}

@keyframes heroFade{  /*Animación keyframe creada*/
from{ /*Estado inicial*/
opacity:0; /*Invisible*/
transform:translateY(20px); /*un poco bajo*/
}
to{ /*Estado final*/
opacity:1; /*Visible*/
transform:translateY(0); /*Posición normal*/
}
}

/* =====================================================
   5. BOTONES
===================================================== */

.btn{
background:#d4a437; /*color del fondo*/
color:#1b1b1b; /*Color del texto*/
padding:14px 36px; /*Espacio entre contenido y borde*/
border-radius:10px; /*Esquinas redondeadas del botón*/
font-weight:600; /*establece el grosor de la fuente en semi-negrita*/
text-decoration:none; /*eliminar cualquier línea decorativa*/
display:inline-block; /*Coloca el boton en la misma línea y controla tamaño y espacio*/
margin-top:25px; /*separación entre el elemento y lo que está encima de él.*/
transition:all .3s ease; /*Aplica la transición a todas las propiedades que cambien*/
box-shadow:0 6px 20px rgba(0,0,0,0.3); /*crea una sombra paralela suave y difuminada debajo*/
}

.btn:hover{
background:#c5952d; /*Asignas nuevo color*/
transform:translateY(-3px); /*mueve el botón 3 píxeles hacia arriba*/
box-shadow:0 10px 25px rgba(0,0,0,0.35); /*crea una sombra paralela suave y difuminada debajo*/
}

/* =====================================================
   6. SLIDER
===================================================== */

.slider{
width:100%; /*ocupar todo el ancho disponible de su contenedor*/
max-width:900px; /*nunca superará los 900 píxeles de ancho*/
margin:auto; /*Ajusta márgenes automáticamente*/
position:relative; /*posicionar un elemento respecto a su posición original*/
}

.slide{
display:none; /*Se oculta completamente de la págia*/
}

.slide img{
width:100%; /*ocupar todo el ancho disponible de su contenedor*/
border-radius:15px;  /*Define el radio de las esquinas*/
object-fit:cover; /*Hace que el contenido cubra todo el contenedor, Mantiene proporciones, recorta lo que sobra*/
}

/* animación de transición */

.fade{
animation:fade 1.5s; /*Aplica la trancisión con 1.5 seg*/
}

@keyframes fade{  /*Animación keyframe creada*/
from{ /*Estado inicial*/
   opacity:0.4; /*establece la transparencia de un elemento al 40%, haciéndolo notablemente traslúcido*/
    }
to{ /*Estado final*/
   opacity:1; /*establece que un elemento sea totalmente opaco (sólido)*/
  }
}

/* botones del slider */

.prev,.next{ /*seleccionar múltiples clases al mismo tiempo*/
cursor:pointer; /*mano pequeña apuntando*/
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
top:50%; /* posicionar el borde superior de un elemento*/
transform:translateY(-50%); /*verticalmente hacia arriba una distancia equivalente al 50% de su propia altura*/
padding:15px; /*relleno interno uniforme de 15 píxeles en los cuatro lados*/
color:white; /*Color de relleno*/
font-weight:bold; /*Especie de negrita*/
font-size:30px; /*Tamaño del texto en el logo*/
user-select:none; /*deshabilita la capacidad del usuario para seleccionar, resaltar o copiar texto*/
transition:0.3s; /*establece que cualquier cambio de propiedad (como color, tamaño, posición) en un elemento ocurra suavemente durante un periodo de 0.3 segundos en lugar de instantáneamente*/
}

.next{
right:0; /*posicionar un elemento hacia el borde derecho*/
}

/* hover botones */
.prev:hover,.next:hover{
background-color:rgba(0,0,0,0.5); /*establece el color de fondo de un elemento como negro con un 50% de transparencia (opacidad)*/
}

/* indicadores */

.dots{
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
bottom:15px; /*posicionar el borde inferior de un elemento a 15 píxeles de distancia*/
width:100%; /*ocupar todo el ancho disponible de su contenedor*/
text-align:center; /*centra horizontalmente los elementos en línea (como imágenes o enlaces) dentro de su contenedor padre*/
z-index:10; /*posiciona un elemento en una capa superior (adelante) en el eje Z respecto a otros elementos*/
}

.dot{
height:12px; /*altura fija de 12 píxeles*/
width:12px; /*ancho fijo*/
margin:0 5px; /*margen exterior de 0 píxeles arriba y abajo (vertical) y 5 píxeles a la izquierda y derecha*/
background: rgba(255,255,255,0.6); /*establece un color de relleno*/
border-radius:50%; /*los bordes se curvan al máximo, uniendo los puntos medios de cada lado de la caja*/
display:inline-block; /*Coloca el boton en la misma línea y controla tamaño y espacio*/
cursor:pointer; /*cambia el puntero del ratón a una mano pequeña*/
transition:.3s; /*duración de una animación*/
}

.active-dot{
background:white; /*cambiar el color de fondo a blanco*/
}

/* =====================================================
   7. SECCIONES GENERALES
===================================================== */

section{
padding:50px 30px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
background:white; /*La sección tendrá un color blanco*/
margin-top:20px; /*separación entre el elemento y lo que está encima de él.*/
border-radius:12px; /*Las secciones tienes esquinas bordeadas*/
width:90%; /*establece que un elemento ocupe el 90% del ancho de su contenedor padre*/
max-width:1200px; /*Establece el máximo que alcanzaría en pixeles*/
margin-left:auto; /*Empuja el elemento hacia la derecha*/
margin-right:auto; /*alcula automáticamente el espacio disponible a la derecha de un elemento y se lo asigna, empujando el elemento hacia la izquierda*/
box-shadow:0 3px 10px rgba(0,0,0,0.1); /*crea una sombra suave y sutil debajo de un elemento*/
}

h2{
margin-bottom:20px; /*añade un espacio exterior de 20 píxeles en la parte inferior de un elemento*/
text-align:center; /*Alinea el texto al centro*/
}

/* =====================================================
   8. GALERÍA
===================================================== */

.grid{
display:grid; /*convierte un elemento en un contenedor de cuadrícula*/
grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); /*En pantallas grandes → varias columnas
En tablets → menos columnas
En celular → 1 columna*/
gap:20px; /*espacio entre los elementos del grid*/
}

.galeria img{ /*Selecciona todas las imágenes (img) dentro de un contenedor con clase .galeria*/
width:100%; /*La imagen ocupa todo el ancho de su contenedor*/
border-radius:10px; /*Redondea las esquinas de la imagen*/
transition:.3s; /*ambios sean suaves en 0.3 segundos*/
}

.galeria img:hover{  /*Se activa cuando pasas el mouse sobre la imagen*/
transform:scale(1.05); /*Hace un zoom ligero*/
}

/* =====================================================
   9. SERVICIOS
===================================================== */

.servicios{
max-width:1100px; /*Establece el máximo que alcanzaría en pixeles*/
margin:50px auto; /*margen superior e inferior de 50 px y automatico izquierda y derecha*/
padding:20px; /*relleno interno uniforme de 20 píxeles en los cuatro lados*/
text-align:center;  /*centra horizontalmente el texto y los elementos en línea (como imágenes o enlaces) dentro de su contenedor padre*/
}

.servicios h1{
font-size:36px; /*Tamaño del texto*/
margin-bottom:25px; /*añade un espacio exterior de 25 píxeles en la parte inferior de un elemento*/
}

.servicios-grid{
display:grid; /*Convierte el contenedor en un layout de cuadrícula (Grid)*/
grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); /*Repite columnas automáticamente,( Crea tantas columnas como quepan en el espacio disponible
                                                          cada columna minimo 250px y máximo el relleno establecido */
gap:20px; /*Agrega espacio entre los elementos*/
}

/* tarjetas de servicio */
.servicio-card{
background:#fff; /*La card tendrá un color blanco*/
padding:30px 25px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
border-radius:14px; /*se le da un borde suave a la card*/
box-shadow:0 8px 25px rgba(0,0,0,0.08); /*crea una sombra suave y sutil debajo de un elemento*/
transition:all .35s ease; /*Aplica la transición a todas las propiedades que cambien*/
position:relative; /*posicionar un elemento respecto a su posición original*/
overflow:hidden; /*oculta cualquier contenido que sobresalga de los límites de su contenedor*/
}

/* efecto hover */
.servicio-card:hover{
transform:translateY(-8px); /*Mueve su posición hacía arriba un poco de lo abitual*/
box-shadow:0 15px 35px rgba(0,0,0,0.15); /*Incrementa un poco la sombra suave que le había dado*/
}

/* línea dorada superior */
.servicio-card::before{
content:""; /*Establezco que no tedrá información*/
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
top:0; /*Indico que estará hasta arriba*/
left:0; /*alinea el borde izquierdo, donde comienza*/
width:0; /*estlezco el ancho, donde comienza*/
height:3px; /*Establezco el alto que tendrá la línea*/
background:#d4a437; /*Establezco el color*/
transition:width .35s ease; /*tiempo y velocidad en la que cambiará el ancho*/
}

.servicio-card:hover::before{
width:100%;  /*Después de pasar el cursor alcance el total del ancho*/
}

/* icono */
.servicio-card i{
font-size:30px; /*tamaño del icono*/
color:#d4a437; /*Color que tendrá el icono*/
margin-bottom:15px; /*añade un espacio exterior de 15 píxeles en la parte inferior de un elemento*/
display:block; /*transforma un elemento para que ocupe todo el ancho disponible*/
}

/* =====================================================
   10. FORMULARIO
===================================================== */

.form-container{
max-width:550px; /*límite superior para el ancho de un elemento*/
margin:40px auto; /*margen superior e inferior de 40 px y automatico izquierda y derecha*/
padding:25px; /*relleno interno uniforme de 25 píxeles en los cuatro lados*/
background:#fff; /*color que tendrá el contenedor*/
border-radius:15px;  /*se le da un borde suave al cotenedor*/
box-shadow:0 4px 15px rgba(0,0,0,0.1); /*crea una sombra suave y sutil debajo de un elemento*/
}

.input-group{
position:relative; /*posicionar un elemento respecto a su posición original*/
margin-bottom:25px; /*añade un espacio exterior de 15 píxeles en la parte inferior de un elemento*/
}

.input-group input,
.input-group textarea{
width:100%; /*ocupar todo el ancho disponible de su contenedor*/
padding:12px 10px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
border:1px solid #bbb; /*borde alrededor de un elemento., 1 px de grosor, línea continua y el color*/
border-radius:8px; /*Contorno redondo suave*/
background:none; /*No tiene color el fondo*/
font-size:16px; /*Tamaño del texto*/
outline:none; /* elimina el contorno (borde exterior) predeterminado que los navegadores añaden*/
transition:0.3s; /*Aplica la transición en el tiempo definido*/
}

/* etiqueta flotante */
.input-group label{
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
top:50%; /*Coloca el elemento al 50% de la altura del contenedor padre*/
left:12px; /*El espacio que hay desde la izquierda*/
transform:translateY(-50%); /*verticalmente hacia arriba una distancia equivalente al 50% de su propia altura*/
font-size:16px;
color:#777;
pointer-events:none; /* sea invisible para el ratón o puntero, impidiendo clics*/
transition:0.3s; /*Aplica transiciones*/
}

/* animación etiqueta */
.input-group input:focus + label,  /*solo cuando se cumple alguna de estas condiciones, cuadno el usuario hace clic en el input*/
.input-group input:not(:placeholder-shown) + label, /*cuando el input ya tiene texto*/
.input-group textarea:focus + label, /*cuando el text area está activo*/
.input-group textarea:not(:placeholder-shown) + label{ /*cuando el text area tiene contenido*/
top:0; /*Mueve el label hacía arriba*/
left:10px; /*La ajusta un poco hacía la derecha*/
font-size:12px; /*Hace el texto más pequeño*/
color:#333; /*cambia el color a más oscuro*/
background:#fff; /*se le pone un fondo blanco*/
padding:0 4px; /*Agrega espacio a los lados del label*/
}

/* estilos base de inputs */
input,
textarea{
font-family:inherit; /* usa la misma fuente del body */
padding:10px; /*relleno interno uniforme de 10 píxeles en los cuatro lados*/
border:1px solid #aaa; /*borde alrededor de un elemento., 1 px de grosor, línea continua y el color*/
border-radius:5px; /*la cajas de texto tienen un redondeado suave*/
resize: none; /*Evito que el text area se haga más grade*/
}

.btn-enviar{
padding:14px; /*relleno interno uniforme de 10 píxeles en los cuatro lados*/
width:100%; /* ocupa todo el ancho del formulario */
background:#d4a437; /*Asigno color al botón*/
border:none; /*se le quita el borde*/
border-radius:8px; /*el botón tendrá las esquinas redondeadas*/
font-size:18px; /*Tamaño del texto*/
cursor:pointer; /*El cursor se convierte en manita*/
font-weight:bold; /*poner el texto en negrita, aumentando el grosor*/
transition:0.3s; /*Se le aplican efectos*/
}

/* efecto hover */
.btn-enviar:hover{
background:#c5952d; /*Cambia un poco el color*/
}

/* =====================================================
   MENSAJES DEL FORMULARIO
===================================================== */

#formMessage{
margin-top:10px; /*separación entre el elemento y lo que está encima de él.*/
font-size:16px; /*Tamaño del texto*/
text-align:center; /*centra horizontalmente el texto y los elementos en línea (como imágenes o enlaces) dentro de su contenedor padre*/
padding:10px; /*relleno interno uniforme de 10 píxeles en los cuatro lados*/
border-radius:6px; /*el mensae tendrá las esquinas redondeadas*/
}

/* mensaje de éxito */
#formMessage.success{
background:#e5ffe5; /*Tendrá un fondo blanco*/
color:#228822; /*Letras de color verde*/
}

/* mensaje de error */
#formMessage.error{
background:#ffe5e5; /*Fondo blanco*/
color:#cc3333; /*Letras rojas*/
}

/* clase para ocultar el mensaje */
.hidden{
display:none; /*Se oculta completamente el mensaje de error o éxito de la págia*/
}

/* =====================================================
   11. FOOTER
===================================================== */

footer{
background:#1b1b1b; /*Color de fondo del footer*/
color:#fff; /*Color del texto del footer*/
padding:40px 20px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
margin-top:40px; /*separación entre el elemento y lo que está encima de él.*/
}

.footer-container{
display:flex; /*alinear y distribuir elementos secundarios dentro de un contenedor de forma automática y adaptable*/
justify-content:space-between; /*distribuir los elementos hijos de un contenedor de manera uniforme, alineando el primero al borde inicial y el último al borde final, distribuyendo el espacio libre restante equitativamente entre ellos. */
flex-wrap:wrap; /*permitir que los elementos pasen a la siguiente línea cuando no caben.*/
gap:30px;    /*Agrega espacio entre los elementos*/
max-width:1100px; /*límite superior para el ancho de un elemento*/
margin:auto; /*Ajusta márgenes automáticamente*/
}

.footer-section h3,
.footer-section h4{
margin-bottom:10px; /*añade un espacio exterior de 10 píxeles en la parte inferior de un elemento*/
color:#f0b44c; /*Se le cambia el color*/
}

.footer-section p,
.footer-section a{
color:#ddd; /*Se les cambia el color*/
font-size:15px; /*Tamaño del texto*/
}

.footer-section a:hover{
text-decoration:underline; /*Subraya el texto del elemento*/
}

.copy{
text-align:center; /*centra horizontalmente el texto y los elementos en línea (como imágenes o enlaces) dentro de su contenedor padre*/
margin-top:30px; /*separación entre el elemento y lo que está encima de él.*/
font-size:14px; /*Tamaño del texto*/
color:#aaa; /*Se le cambia el color*/
}

/* =====================================================
   12. WHATSAPP FLOAT
===================================================== */

.whatsapp-btn{
position:fixed; /*fija un elemento en una posición específica de la pantalla*/
right:20px; /*posicionar un elemento hacia el borde derecho, con separación de 20px*/
bottom:20px;  /*posicionar el borde inferior de un elemento a 20 píxeles de distancia*/
width:50px; /*ancho*/
height:50px; /*alto*/
z-index:999; /*posiciona un elemento a la capa superior*/
}

.whatsapp-btn img{
width:100%; /*ocupar todo el ancho disponible de su contenedor*/
height:100%; /*ocupa todo el alto disponible del contenedor*/
object-fit:contain; /*redimensiona una imagen para que quepa dentro de su contenedor*/
filter:drop-shadow(0 0 5px rgba(0,0,0,0.4)); /*aplica una sombra paralela difuminada alrededor del contorno de un elemento*/
transition:transform 0.2s; /*Tiene un moviento*/
}

.whatsapp-btn:hover img{
transform:scale(1.1); /*aumenta el tamaño visual de un elemento HTML al 110% de su tamaño original*/
}


/* =====================================================
   TOOLTIP BOTÓN WHATSAPP
   Mensaje que aparece al pasar el mouse
===================================================== */

.whatsapp-tooltip{
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
right:80px; /*posicionar un elemento hacia el borde derecho, con separación de 80px*/
bottom:15px; /*posicionar el borde inferior de un elemento a 15 píxeles de distancia*/
background:#25d366; /*Cambia color al fondo*/
color:white; /*cambia el color del texto*/
padding:8px 12px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
border-radius:6px; /*el mensaje tendrá las esquinas redondeadas*/
font-size:14px; /*Tamaño del texto*/
white-space:nowrap; /*evitar que el texto haga saltos de línea.*/
opacity:0; /*elemento sea completamente transparente*/
transform:translateY(5px); /*Hace un movimiento en Y de 5px*/
transition:0.2s ease; /*se le aplica el movimiento suave */
pointer-events:none; /* sea invisible para el ratón o puntero, impidiendo clics*/
box-shadow:0 3px 10px rgba(0,0,0,0.3); /*crea una sombra suave y sutil debajo de un elemento*/
}

/* Flecha del tooltip */
.whatsapp-tooltip::after{
content:''; /*No contiene texto, ni componentes*/
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
right:-5px; /*se mueve 5 pixeles a la derecha*/
top:50%; /*Coloca el elemento al 50% de la altura del contenedor padre*/
transform:translateY(-50%); /*verticalmente hacia arriba una distancia equivalente al 50% de su propia altura*/
border-left:8px solid #25d366; /*añade una línea sólida de 8 píxeles de grosor en el lado izquierdo del elemento, con un color verde*/
border-top:6px solid transparent; /*crea un borde invisible de 6 píxeles de grosor en la parte superior de un elemento*/
border-bottom:6px solid transparent; /*crea un borde invisible de 6 píxeles de grosor en la parte inferior de un elemento*/
}

/* Mostrar tooltip al pasar mouse */
.whatsapp-btn:hover .whatsapp-tooltip{ 
opacity:1; /*Cambia la opacidad y se pone totalmente visible*/
transform:translateY(0); /*vuelve a su posición original.*/
}

/* =====================================================
   13. MAPA RESPONSIVO
===================================================== */

.map-container{
position:relative; /*posicionar un elemento respecto a su posición original*/
width:100%;  /*ocupar todo el ancho disponible de su contenedor*/
max-width:900px; /*límite superior para el ancho de un elemento*/
margin:auto; /*Ajusta márgenes automáticamente*/
border-radius:15px; /*el contenedor tendrá las esquinas redondeadas*/
overflow:hidden; /*oculta cualquier contenido que sobresalga de los límites de su contenedor*/
}

.map-container::before{
content:""; /*No contiene texto*/
display:block; /*transforma un elemento para que ocupe todo el ancho disponible*/
padding-top:50%; /*añade un relleno interno superior al elemento, equivalente a la mitad del ancho de su contenedor padre*/
}

.map-container iframe{
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
top:0; /*Mueve el componente hacía arriba*/
left:0; /*alinea el borde izquierdo, donde comienza*/
width:100%; /*ocupar todo el ancho disponible de su contenedor*/
height:100%; /*ocupa todo el alto disponible de su contenedor*/
border:0; /*elimina el borde*/
}

/* =====================================================
   14. RESPONSIVE
===================================================== */

@media (max-width:768px){ /*límite superior para el ancho de un elemento*/

.navbar{
padding:15px 20px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
}

.menu-btn{
display:block; /*transforma un elemento para que ocupe todo el ancho disponible*/
}

.nav-links{
display:none; /*Se oculta completamente el mensaje de error o éxito de la págia*/
flex-direction:column; /*Cambia la dirección a vertical, Apila los elementos uno debajo del otro*/
background:#222; /*Cambia el color*/
position:absolute; /*posicionar un elemento de forma exacta dentro de su contenedor*/
top:70px; /*70 ppixeles hacía bajo desde el borde superior*/
right:0; /*posicionar un elemento hacia el borde derecho*/
width:200px; /*Se establece un ancho*/
padding:20px; /*relleno interno uniforme de 20 píxeles en los cuatro lados*/
border-radius:10px; /* tendrá las esquinas redondeadas*/
}

.nav-links.active{
display:flex; /*alinear y distribuir elementos secundarios dentro de un contenedor de forma automática y adaptable*/
}

.hero{
height:420px; /*se establece un alto*/
margin:15px; /*Se establece un grosor al margen*/
border-radius:10px; /*tendrá las esquinas redondeadas*/
}

.hero h1{
font-size:34px; /*Tamaño del texto*/
}

.hero p{
font-size:16px; /*Tamaño del texto*/
padding:0 10px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
}

.btn{
padding:12px 24px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
font-size:16px; /*Tamaño del texto*/
}

.servicio-card{
padding:25px 20px; /*crear espacio interno dentro de un elemento, separando su contenido del borde*/
}

.servicio-card h3{
font-size:18px; /*Tamaño del texto*/
}

.servicio-card p{ 
font-size:14px; /*Tamaño del texto*/
}

.servicio-card i{
font-size:26px; /*Tamaño del texto*/
}

.footer-container{
flex-direction:column; /*Cambia la dirección a vertical, Apila los elementos uno debajo del otro*/
text-align:center; /*centra horizontalmente el texto y los elementos en línea (como imágenes o enlaces) dentro de su contenedor padre*/
}

}